*,
*::before,
*::after {
    box-sizing: border-box
}

/*custom properties, are CSS variables holding values that we can use throughout our CSS code*/
:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro' , monospace;

    --fw-reg: 300;
    --fw-bold: 1000;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #49e783;
    --clr-custom: #fff9f7;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), /*box-shadow settings*/
          0.125em 0.125em 0.25em rgba(0,0,0,.15)
}

/*media queries, some properties will change based on the size,
 of the screen website is being viewed on*/
@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
        --fs-test: 5rem;
    }

}



/*general styles*/

html {
    scroll-behavior: smooth;
}
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 2.6;
}

section { /*general padding*/
    padding: 5em 2em; /*5 em top and bottom, 2em left and right*/
}

img {
    display: block; /*gets rid of issues that comes with images*/
    max-width: 100%; /*top ensure images dont grow bigger and dont overflow */
}

strong {font-weight: var(--fw-bold); }

/*applies to all form tags*/
:focus {
    outline: 3px solid var(--clr-accent); /*forms an outline around text*/
    outline-offset: 3px;
}

/*buttons*/

.btn {
    display: inline-block; /*displays element('s) horizontally*/
    padding: .5em 3em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase; /*makes characters uppercase*/
    letter-spacing: 2px; /*spreads letter out*/
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out; 


}

.btn:hover {
    transform: scale(1.1); /*makes it 1.1 times bigger when we hover over it*/
}

/*typography*/

h1,
h2,
h3 {
    line-height:1;
    margin: 0;
}

h1 {font-size: var(--fs-h1); }

h2 { font-size: var(--fs-h2); }

h3 { font-size: var(--fs-h3); }



.section__title {
    margin-bottom: .25em; /*em is a good unit to use when editing margin of text*/
}

.section__title--intro {
    font-weight: var(--fw-reg);
}



.section__title--intro strong {
    display: block;
}



.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}



/*header*/
/*


@media(min-width: 800px) {
    .nav {
        display:inline-block
    }

    .nav .nav__list {
        display :flex;
    }
    .nav__item {
        margin: 0 4em;
    }
}
*/

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 150px;
}

.logo img {
    height: 50px;
}


.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    /*the properties below will cause all of the backgound to be ark*/
    top: 0; /*0 margin between nav bar and body*/
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;


    transform:translateX(100%);
    transition:transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color:inherit;
    font-weight:var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color:var(--clr-accent);
}

.nav-toggle {
    padding: .5em ;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn) ;

}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}



/*hamburger styling*/
.hamburger {
    display: block;
    position: relative;

}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position:absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top:6px;}
.hamburger::after {bottom: 6px;}




/*Intro Section*/
.intro {
    position: relative;

}

.intro_img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle";

        grid-template-columns: min-content max-content;

    }

    .intro_img {
        grid-area: img; /*displays an image at a position corresponmding to grid-template-areas setting*/
        min-width: 250px; /*minimum width allowed for the image*/
        position: relative;
        border-radius: 0;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start; /*causes it to not stretch down*/ 
        grid-column: -1 / 1; /*causes subtitle intro
                              to overlap with image*/
        grid-row: 2;          /*specefies which row on the grid to place content*/
        text-align: right; /*causes text to be aligned on the right side*/
        position: relative;
        left: -1.5em;
        width: 100%       

    }

}

/*my interests section*/
.my_interests {
    background-color: var(--clr-dark);
    background-image: url(images/Computer_2.png);
    background-size: cover; /*makes sures image does not repeat itself*/
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

/*creates a rectangle box*/
.section__title--services::after {
    content: '';
    display:block; /*displays an element as a block element, starts at a new line*/
    width:25%;
    height: 1px;
    margin: 0.5em auto 1em; /*0.5 em top, auto left and right, 1em bottom*/
    background: var(--clr-accent);
}


.Interests{
    margin-bottom: 5em;
}

.interest {
    max-width: 500px;
    margin: 0 auto;
}

/*displaying interests section for bigger screens*/
@media(min-width: 800px) {
    .Interests {
        display: flex; /*displays contents as columns*/
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    /*gives space between the separate paragraphs describing interets*/
    .interest + .interest {
        margin-left: 2em;

    }
}

.about-me {
    margin: 0 auto;
}

.umd-img {
    box-shadow: var(--bs);
}

/*Who I am section*/
@media (min-width: 600px)
{
    .about-me {
        display: grid;
        grid-template-areas:
        "title img"
        "subtitle img"
        "text img"
        ;
        grid-template-columns:1fr 300px;
        grid-column-gap: 2em;
    }
    
    .section__title--About-me {
        grid-area: title;
    }

    .umd-img {
        grid-area: img;
        position: relative;

    }

    .section__subtitle--about {
        align-self: start;
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);

    }

    .about-me__body {
        grid-row: 3;
    }
}

/*my projects section*/

 .my-projects {
     background: var(--clr-dark);
     grid-template-columns: repeat(3) 
 }

 .projects_title, 
.projects_subtitle {
    text-align: center;
}

 .projects_title {
     color: var(--clr-custom);
     
 }

 .projects_subtitle {
     color: var(--clr-accent);
     margin-bottom: 20px;
 }

 .portfolio {
     display: grid;
     grid-template-columns:repeat(auto-fit, minmax(300px, 1fr)); /*automatically makes three columns*/
 }

 .portfolio__item {
     background: var(--clr-accent);
    overflow: hidden;
 }

 .portfolio__img {
    background: var(--clr-accent);
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
 }

 .portfolio__img:hover {
     overflow: hidden;
    transform: scale(1.1);
    opacity: .95;
 }
 
 
/*footer styling*/

footer {
    background: rgb(17, 17, 17) ;
    padding: 20px 20px;
    text-align: center;
    font-size: var(--fs-h3);

}

.footer-link {
    color: var(--clr-accent);
    text-decoration: none;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
}

.social-list__item {
    margin: 0 1em;
}

.social-list__item a{
    color: var(--clr-accent) 
}

.social-list__item:hover, 
.footer-link:hover{
    opacity: .75;
}


/*reveal on scroll effect*/

.reveal {
    position: relative;
    transform: translateY(150px);
    transition: all 2s ease;
    opacity: 0;
}

.reveal.active{
    transform: translateY(0px);
    opacity:1;
}
