*,
*::before,
*::after {
    box-sizing: border-box
}

/*custom properties, are CSS variables holding values that we can use throughout our CSS code*/
:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro' , monospace;

    --fw-reg: 300;
    --fw-bold: 1000;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #49e783;
    --clr-custom: #fff9f7;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), /*box-shadow settings*/
          0.125em 0.125em 0.25em rgba(0,0,0,.15)
}

/*media queries, some properties will change based on the size,
 of the screen website is being viewed on*/
@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }

}

/*general styles*/
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 2.6;
}

section { /*general padding*/
    padding: 5em 2em; /*5 em top and bottom, 2em left and right*/
}

img {
    display: block; /*gets rid of issues that comes with images*/
    max-width: 100%; /*top ensure images dont grow bigger and dont overflow */
}

strong {font-weight: var(--fw-bold); }

/*applies to all form tags*/
:focus {
    outline: 3px solid var(--clr-accent); /*forms an outline around text*/
    outline-offset: 3px;
}

/*buttons*/

.btn {
    display: inline-block; /*displays element('s) horizontally*/
    padding: .5em 3em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase; /*makes characters uppercase*/
    letter-spacing: 2px; /*spreads letter out*/
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out; 


}

.btn:hover {
    transform: scale(1.1); /*makes it 1.1 times bigger when we hover over it*/
}

/*typography*/

h1,
h2,
h3 {
    line-height:1;
    margin: 0;
}

h1 {font-size: var(--fs-h1); }

h2 { font-size: var(--fs-h2); }

h3 { font-size: var(--fs-h3); }



.section__title {
    margin-bottom: .25em; /*em is a good unit to use when editing margin of text*/
}

.section__title--intro {
    font-weight: var(--fw-reg);
}



.section__title--intro strong {
    display: block;
}



.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}



/*header*/
nav { display: none; }
/*
@media(min-width: 800px) {
    .nav {
        display:inline-block
    }

    .nav .nav__list {
        display :flex;
    }
    .nav__item {
        margin: 0 4em;
    }
}
*/

/*Intro Section*/
.intro {
    position: relative;

}

.intro_img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle";

        grid-template-columns: min-content max-content;

    }

    .intro_img {
        grid-area: img; /*displays an image based on its appropriate*/
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start; /*causes it to not stretch down*/ 
        grid-column: -1 / 1; /*causes subtitle intro
                              to overlap with image*/
        grid-row: 2;
        text-align: right; /*causes text to be aligned on the right side*/
        position: relative;
        left: -1.5em;
        width: 100%

    }

}

/*my interests section*/
.my_interests {
    background-color: var(--clr-dark);
    background-image: url(images/Computer_2.png);
    background-size: cover; /*makes sures image does not repeat itself*/
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display:block; /*displays an element as a block element, starts at a new line*/
    width:25%;
    height: 1px;
    margin: 0.5em auto 1em; /*0.5 em top, auto left and right, 1em bottom*/
    background: var(--clr-accent);
}


.Interests{
    margin-bottom: 5em;
}

.interest {
    max-width: 500px;
    margin: 0 auto;
}

/*displaying interests section for bigger screens*/
@media(min-width: 800px) {
    .Interests {
        display: flex; /*displays contents as columns*/
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    /*gives space between the separate paragraphs describing interets*/
    .interest + .interest {
        margin-left: 2em;

    }
}

.about-me {
    margin: 0 auto;
}

.umd-img {
    box-shadow: var(--bs);
}

/*Who I am section*/
@media (min-width: 600px)
{
    .about-me {
        display: grid;
        grid-template-areas:
        "title img"
        "subtitle img"
        "text img"
        ;
        grid-template-columns:1fr 300px;
        grid-column-gap: 2em;
    }
    
    .section__title--About-me {
        grid-area: title;
    }

    .umd-img {
        grid-area: img;
        position: relative;

    }

    .section__subtitle--about {
        align-self: start;
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);

    }

    .about-me__body {
        grid-row: 3;
    }
}
